
/Proj/WASAPI_Testbench/build
/Proj/WindowsAudioDriver/WindowsAudioDriver/obj
/Proj/WindowsAudioDriver/WindowsAudioDriver/obj
/Proj/audio-record-qt-6/AudioRecorder/build
/Proj/audio-record-qt/AudioRecorder/build
/Proj/HellowWorld_WindowsDriver/.vs/HellowWorld_WindowsDriver/v17
/Proj/HellowWorld_WindowsDriver/.vs
Proj/HellowWorld_WindowsDriver/HellowWorld_WindowsDriver/HellowWorld_WindowsDriver.vcxproj.filters
Proj/HellowWorld_WindowsDriver/HellowWorld_WindowsDriver/HellowWorld_WindowsDriver.vcxproj.user
